<% level ||= 0 %>
<% col = 255 - level * 5 %>
<% params.each do |param| %>
  <tr style='background-color:rgb(<%= "#{col},#{col},#{col}" %>);'>
    <td>
      <strong><%= param[:full_name] %> </strong><br>
      <small>
        <em><%= param[:required] ? '*required' : 'optional' %></em>
        <%= param[:allow_nil] ? ', nil allowed' : '' %>
      </small>
    </td>
    <td>
      <%= param[:description].html_safe %>
      <small>
      <% unless param[:validator].blank? %>
        <b>value:</b> <%= param[:validator] %>
      <% end %>
      <% unless param[:default].blank? %>
          <br/><b>default:</b> <%= param[:default] %>
      <% end %>
      <% unless param[:format].blank? %>
          <br/><b>format:</b> <%= param[:format] %>
      <% end %>
      <% unless param[:possible_options].blank? %>
          <br/><b>one of:</b> <%= param[:possible_options] %>
      <% end %>
      </small>
    </td>
  </tr>

  <%= render(:partial => "params", :locals => {:level => level + 1, :params => param[:params]}) unless param[:params].blank? %>
<% end %>
